<p>paragraph</p>

<select class="thm-primary">
  <option>test 1</option>
  <option>test 2</option>
  <option>test 3</option>
  <option>test 4</option>
</select><br/>

<label for="fname">First name:</label>
<input type="text" id="fname" name="fname"><br><br>
<label for="lname">Last name:</label>
<input type="text" id="lname" name="lname"><br><br>
<input type="submit" value="Submit">

<br/><br/><br/>

<div class="bg-red dark:bg-gray-800">
  <h1 class="text-gray-900 dark:text-white">Tailwind Dark mode (system driven) is here!</h1>
  <p class="text-gray-600 dark:text-gray-300">
    Lorem ipsum...
  </p>
</div>

<span class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-sans font-semibold text-white">
  tw button
</span>

<div class="font-sans">{{testText}}-tw sans</div>
<div class="font-serif">{{testText}}-tw serif</div>
<div class="font-mono">{{testText}}-tw mono</div>
<div class="font-curs">{{testText}}-tw curs</div>
<div class="font-fant">{{testText}}-tw fant</div>

<div class="mat-body-1">{{testText}}-mat body-1</div>
<div class="mat-body-2">{{testText}}-mat body-2</div>

<div class="palette">
  <h2 class="text-2xl">Palette</h2>
  <div>
    This Theme
    <div class="colors thm-primary" dispBGColor></div>
    <div class="colors thm-secondary" dispBGColor></div>
    <div class="colors thm-tertiary" dispBGColor></div>
    <div class="colors thm-quaternary" dispBGColor></div>
  </div>
  <div>
    <div class="colors thm-warn" dispBGColor></div>
    <div class="colors thm-error" dispBGColor></div>
  </div>

  <div>
    Base
    <div class="colors basecolor" dispBGColor></div>
  </div>
  <div>
    Complementary
    <div class="colors com-primary" dispBGColor></div>
    <div class="colors com-secondary" dispBGColor></div>
  </div>
  <div>
    Monochromatic
    <div class="colors mon-primary" dispBGColor></div>
    <div class="colors mon-secondary" dispBGColor></div>
    <div class="colors mon-tertiary" dispBGColor></div>
    <div class="colors mon-quaternary" dispBGColor></div>
    <div class="colors mon-quinary" dispBGColor></div>

    <div class="colors mon-sixth" dispBGColor></div>
    <div class="colors mon-seventh" dispBGColor></div>
    <div class="colors mon-eighth" dispBGColor></div>
    <div class="colors mon-nineth" dispBGColor></div>
    <div class="colors mon-tenth" dispBGColor></div>
    <div class="colors mon-eleventh" dispBGColor></div>
  </div>
  <div>
    Analogous
    <div class="colors ana-primary" dispBGColor></div>
    <div class="colors ana-secondary" dispBGColor></div>
    <div class="colors ana-tertiary" dispBGColor></div>
  </div>
  <div>
    Triadic
    <div class="colors tri-primary" dispBGColor></div>
    <div class="colors tri-secondary" dispBGColor></div>
    <div class="colors tri-tertiary" dispBGColor></div>
  </div>
  <div>
    Tetradic
    <div class="colors tet-primary" dispBGColor></div>
    <div class="colors tet-secondary" dispBGColor></div>
    <div class="colors tet-tertiary" dispBGColor></div>
    <div class="colors tet-quaternary" dispBGColor></div>
  </div>
  <div>
    Rotation
    <div class="colors rot-primary" dispBGColor></div>
    <div class="colors rot-secondary" dispBGColor></div>
    <div class="colors rot-tertiary" dispBGColor></div>
    <div class="colors rot-quaternary" dispBGColor></div>
    <div class="colors rot-quinary" dispBGColor></div>

    <div class="colors rot-sixth" dispBGColor></div>
    <div class="colors rot-seventh" dispBGColor></div>
    <div class="colors rot-eighth" dispBGColor></div>
    <div class="colors rot-nineth" dispBGColor></div>
    <div class="colors rot-tenth" dispBGColor></div>
    <div class="colors rot-eleventh" dispBGColor></div>
  </div>
</div>

<div class="palette">
  Tailwind
  <div>
    Base
    <div class="colors bg-base" dispBGColor></div>
  </div>
  <div>
    Complementary
    <div class="colors bg-comp1" dispBGColor></div>
    <div class="colors bg-comp2" dispBGColor></div>
  </div>
  <div>
    Monochromatic
    <div class="colors bg-mono1" dispBGColor></div>
    <div class="colors bg-mono2" dispBGColor></div>
    <div class="colors bg-mono3" dispBGColor></div>
    <div class="colors bg-mono4" dispBGColor></div>
    <div class="colors bg-mono5" dispBGColor></div>

    <div class="colors bg-mono6" dispBGColor></div>
    <div class="colors bg-mono7" dispBGColor></div>
    <div class="colors bg-mono8" dispBGColor></div>
    <div class="colors bg-mono9" dispBGColor></div>
    <div class="colors bg-mono10" dispBGColor></div>
    <div class="colors bg-mono11" dispBGColor></div>
  </div>
  <div>
    Analogous
    <div class="colors bg-ana1" dispBGColor></div>
    <div class="colors bg-ana2" dispBGColor></div>
    <div class="colors bg-ana3" dispBGColor></div>
  </div>
  <div>
    Triadic
    <div class="colors bg-tri1" dispBGColor></div>
    <div class="colors bg-tri2" dispBGColor></div>
    <div class="colors bg-tri3" dispBGColor></div>
  </div>
  <div>
    Tetradic
    <div class="colors bg-tet1" dispBGColor></div>
    <div class="colors bg-tet2" dispBGColor></div>
    <div class="colors bg-tet3" dispBGColor></div>
    <div class="colors bg-tet4" dispBGColor></div>
  </div>
  <div>
    Rotation
    <div class="colors bg-rot1" dispBGColor></div>
    <div class="colors bg-rot2" dispBGColor></div>
    <div class="colors bg-rot3" dispBGColor></div>
    <div class="colors bg-rot4" dispBGColor></div>
    <div class="colors bg-rot5" dispBGColor></div>

    <div class="colors bg-rot6" dispBGColor></div>
    <div class="colors bg-rot7" dispBGColor></div>
    <div class="colors bg-rot8" dispBGColor></div>
    <div class="colors bg-rot9" dispBGColor></div>
    <div class="colors bg-rot10" dispBGColor></div>
    <div class="colors bg-rot11" dispBGColor></div>
  </div>
</div>

