@import url('https://fonts.googleapis.com/css?family=Helvetica');

.swiper-container {
  padding-top: 10px;
}

.swiper-slide {
  width: fit-content !important;
}

.DashboardTileTitle {
  font-size: 12px;
  font-family: 'Helvetica';
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 0px;
}

.DashboardTileNumber {
  font-size: 34px;
  font-family: 'Helvetica';
  font-weight: 700;
  line-height: 42px;
  color: #ffffff;
}

.DashboardTileSmallNumber {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

.DashboardTileValue {
  font-size: 12px;
  font-family: 'Helvetica';
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 0px;
  padding-left: 16px;
}

.SummaryOrList {
  padding-left: 16px;
}

.DashboardTable {
  width: 100%;
  position: relative;
  overflow: auto;
  padding-top: 10px;
}

.DashboardTablethead {
  position: relative;
  height: 40px;
  color: #ffffff;
  background: var(--color);
}

.theadth {
  min-width: 100px;
  height: 20px;
  text-align: left;
  padding: 4px;
}

.tbodytr {
  height: 36px;
  background-color: #f6f6f6;
}

.tbodytd {
  min-width: 100px;
  height: 20px;
  text-align: left;
  padding: 4px;
  font-weight: 500;
}

.DashboardTable::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.DashboardTable::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.DashboardTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color);
}
.DashboardTable::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.SelectOption {
  accent-color: var(--color);
}

.color {
  background-color: #ffffff;
}

.RadioButtonSelection {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

// Mat-Select

::ng-deep .mat-select {
  width: 136px;
  height: 15px;
}

//Cell Highlight For Lead Stage Summary Table

.highlighted {
  background-color: #e3d8f3;
  border: solid thin purple;
}
