<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> -->
<div class="form-group">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <!-- <mat-form-field [ngStyle]="{'width.px': 305}"> -->
      <input #input matInput [formControl]='gbControl' name={{Field?.Name}} type={{Field?.Type}}
        placeholder="{{Field?.Placeholder}}" maxlength={{Field?.Length}} minlength={{Field?.Length}} [attr.minlength]="minLen" [attr.maxlength]="maxLen" min={{Field?.MinValue}}
        max={{Field?.MaxValue}} class="input" pattern={{HtmlPattern}}>

      <!-- <mat-error *ngIf="gbControl.hasError('email') && !gbControl.hasError('required')">
        Please enter a valid email address
      </mat-error>

      <mat-error *ngIf="gbControl.hasError('pattern') && !gbControl.hasError('required')">
        Please enter valid data
      </mat-error>

      <mat-error *ngIf="gbControl.hasError('min') && !gbControl.hasError('required')">
        The value should be more than {{Field.MinValue}}
      </mat-error>

      <mat-error *ngIf="gbControl.hasError('max') && !gbControl.hasError('required')">
        The value should be less than {{Field.MaxValue}}
      </mat-error>

      <mat-error *ngIf="gbControl.hasCustomError && !gbControl.hasError('required')">
        {{gbControl.customErrorMessages}}
      </mat-error>

      <mat-error *ngIf="gbControl.hasError('maxlength') && !gbControl.hasError('required')">
        The length should be less than {{Field.MaxLength}}
      </mat-error>

      <mat-error *ngIf="gbControl.hasError('required')">
        {{Field?.Label}} is <strong>required</strong>
      </mat-error>

      <mat-hint>{{Field?.Tooltip}}</mat-hint> -->
    <!-- </mat-form-field> -->
  </ng-template>

</div>
