@import url("https://fonts.googleapis.com/css?family=Helvetica");
.input{
    width: 305px;
    height: 24px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    outline-style: none;
    color: rgba(26, 26, 26, 0.87) !important;
}

::placeholder {
    color: rgba(26, 26, 26, 0.87) !important;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
