@import "./_settings.scss";

//shortcuts
$bg: 'bg';
$card-bg: 'card-bg';
$card-border: 'card-border';
$text: 'text';
$text-important: 'text-important';
$text-secondary: 'text-secondary';
$text-badge: 'text-badge';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$logo2: 'logo-2';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';
$test: 'test';

//themes
$themes: (
  default: (
    logo: url("../images/brand/logo_vertical.svg"),
    logo-2: url("../images/brand/logo_horizontal.svg"),
    // bg: $bg--light,
    // text: $text--light,
    // text-important: $text--imp--light,
    // text-secondary: $text--2--light,
    // text-badge: $text--light,
    button-background: green,
    link: green,
  ),
  dark: (
    logo: url("../images/brand/logo_vertical--invert.svg"),
    logo-2: url("../images/brand/logo_horizontal--invert.svg"),
    // bg: $bg--dark--top,
    // text: $text--dark,
    // text-important: $text--imp--dark,
    // text-secondary: $text--2--dark,
    // text-badge: $text--dark,
    button-background: red,
    link: red,
  ),
  other: (
    logo: url("../images/brand/logo_vertical--invert.svg"),
    logo-2: url("../images/brand/logo_horizontal--invert.svg"),
    bg: blue,
    text: black,
    text-important: black,
    text-secondary: aqua,
    text-badge: black,
    button-background: rgb(41, 174, 226),
    link: rgb(41, 174, 226),
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    // @debug "theme---: #{$theme}";
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
        // @debug "themevalue---: #{$key}: #{$value}";
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin currentTheme1() {
}
@mixin currentTheme2() {
  @include themed() {
    color: t($text);
    background: t($bg);
    background-color: t($bg);
    test: "df"
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

@mixin themeColors() {
  @each $theme, $map in $themes {
    // @debug "&.theme--#{$theme}";
    &.theme--#{$theme}, & .theme--#{$theme}, .theme--#{$theme} & {
      background-color: map-get(map-get($themes, $theme), $bg);
      color: map-get(map-get($themes, $theme), $text);
      t:'';
    }
  }
}

@mixin themeProperty($property, $key) {
  @each $theme, $map in $themes {
    // @debug "&.theme--#{$theme}";
    &.theme--#{$theme}, & .theme--#{$theme}, .theme--#{$theme} & {
      #{$property}: map-get(map-get($themes, $theme), $key);
    }
  }
}
