<div class="container">
    <div class="title">
      <app-gbformdatatitle></app-gbformdatatitle>
      <app-gbformdatarecent class="recent"></app-gbformdatarecent>
    </div>
    <div class="actions">
      <app-gbformdatatoolbar></app-gbformdatatoolbar>
    </div>
</div>
