@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

$thisTheme: (
  general: (
    name: "Orange"
  ),
  colors: (
    basecolor: orange,
    palette: (
    ),
    background: (
    )
  ),
  typography: (
    families: (
      sans: 'Arial, sans',
      serif: 'Times, serif',
      mono: '"Courier New", monospace',
      curs: '"Bungee Inline", cursive',
      fant: '"MedievalSharp", cursive'
    ),
    fonts: (
      default: (
        style: normal,
        weight: normal,
        size: 14px,
        lineheight: 20px,
        family: (typography families curs),
      ),
    )
  ),
  images: (),
  misc: (),
  modes: (
    light: (
      settings: (
        brightness: 0,
        saturation: -70
      )
    ),
    dark: (
      settings: (
        brightness: 0,
        saturation: 70
      )
    )
  ),
  _fwksettings: (
    material: ()
  )
);
$call:initTheme();
// @debug $thisTheme;
@include GBTheme();
