<div *ngIf="viewtype=='CUSHTMLVIEW'">
  <ndc-dynamic class="no-drag" [ndcDynamicComponent]="dynamicreport"></ndc-dynamic>
  <!-- <app-htmlview [rowData]='rowData' [columnData]='columnData'></app-htmlview> -->
</div>

<span *ngIf="viewtype=='Grid'">
  <goodbooks-gbgrid [rowData]='rowData' [columnData]='columnData' [defaultColDef]='defaultColDef'>
  </goodbooks-gbgrid>
</span>

<div *ngIf="viewtype=='STDHTMLVIEW'">
  <app-htmlview [rowData]='rowData' [columnData]='columnData'></app-htmlview>
</div>



 