.search {
  display: block;
  padding: 0 20px;
  text-align: end;
}

.logo
{
  text-align: left;
  color: blue($color: #000000);;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.notify
{
  text-align: end;
}
