<div class='search'>
  <input type="search" name="query">
  <div class='logo'>
    ABC Private Limited
    <h6 class='notify'>
  <button>Search</button><button>Recent</button><button>Notification</button>
      <button>QuickAdd</button><button>Role</button><button>User</button>
    </h6>
  </div>
</div>
