$thisTheme: (
  // General Settings
  general: (
    name: 'Teal',
  ),

  // Color Settings
  colors: (
    basecolor: rgb(1, 111, 111), // Main Color (blue, #8333d8, hsl(220, 100, 50))
    palette: (
      harmonysettings: ( // com:- Complementary, mon:- Monochromatic, ana:- Analogous, tri:- Triadic, tet:- Tetradic, rot:- Rotation
        mon: (
          noofcolors: 5,  // 1-5
          stepby: 10%
        ),
        rot: (
          noofcolors: 10,  // 1-10
          stepby: 60
        ),
      ),
      harmonies: ( // This would be auto generated (har-primary, (mon-primary, mon-secondary, mon-tertiary, ...), (ana-primary, ana-secondary, ana-tertiary, ...)), should be overridable and extendable (ref: https://www.canva.com/colors/color-wheel/)
        // mon-eleventh: red,
      ),
      base: (
        background: (colors palette basecolor),
        text: rgb(17, 16, 16),
        col-primary: (colors palette basecolor),
        col-secondary: (colors palette harmonies ana-secondary),
        col-tertiary: (colors palette harmonies ana-tertiary),
        col-warn: rgb(255, 247, 0),
        col-error: red,
      ),
      text: (
          /*the threshold at which colors are considered "light".
          Range: integers from 0 to 100,
          recommended 50 - 70 */
          threshold: 70,
          forLightColor: black,
          forDarkColor: white,
      ),
    ),
  ),
  modes: (
    day: (
      settings: (
        delta: 0%,
        // background: blue,// lightgrey,
        // text: red, // rgb(41, 41, 41),
      ),
      // col-primary: (colors palette harmonies har-primary)
    ),
    night: (
      settings: (
        delta: 25%,
        // background: red, // rgb(41, 41, 41),
        // text: blue, // lightgrey,
      ),
      // col-primary: red,
    ),
  ),

  // Typography Setting
  typography: (
    families: (
      sans: 'Arial, sans',
      serif: 'Times, serif',
      mono: '"Courier New", monospace',
      curs: '"Bungee Inline", cursive'
    ),
    fonts: (
      base: (
        style: normal,
        weight: normal,
        // size: 20px,
        // lineheight: 30px,
        family: (typography families sans),
      ),
      styles: (
        h1: (
          style: 'italic',
          variant: 'small-caps',
          weight: 'bold',
          size: 14px,
          lineheight: 20px,
          family: (typography families mono),
        ),
        h2: (
          style: 'italic',
          variant: 'small-caps',
          weight: '700',
          size: 12px,
          lineheight: 15px,
          family: mono,
        ),
        body1: (
          family: mono,
          size: 14px,
          lineheight: 20px,
        ),
      ),
    modes: (
        day: (

        ),
        night: (

        ),
      )
    ),
  ),

  // Any framework specific settings should go here
  _fwksettings: (
    material: (
      primary: (colors basecolor),
      accent: (colors palette harmonies com-secondary),
      warn: $mat-red,
      modes: (
        night: (
          type: dark,
          primary: $mat-green,
          accent: $mat-grey,
          warn: rgb(255, 17, 0),
        ),
      ),
    )
  )
);



$call:initTheme();
@include GBTheme();

// @debug $thisTheme;

// @import './material.scss';

