<div class="form-group">

  <ng-template *ngIf="ReadOnly==false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <app-gb-input #input [formControl]='gbControl' (keydown)="onKeyDown($event)"></app-gb-input>
  </ng-template>
</div>
