// @import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

// .host {
//   display: flex;
//   min-width: 100%;
//   min-height: 95%;
// }

// .slideimage{
//   display: inline-block;
//   position: absolute;
//   top: -48%;
//   right: 0%;
//   min-width: 141%;
//   height: 148%;
// }

// .Forgtpassw{
//   width: 303px;
//   text-align: right;
//   margin-top: 12px;
//   color: var(--color);
//   font-family: 'Helvetica';
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 20px;
//   text-decoration-line: underline;
//   cursor: pointer;
// }
// .container{
//   display: flex;
//   font-family:Helvetica;
//   min-width:100%;
//   border-radius: 0px;
//   padding: 0px;
//   background: #FFFFFF;
// }

// .left{
//   width: 58%;
//   height: 100%;
//   padding-left:10px;
// }

// .right{
//   width: 42%;
//   min-height: 100%;
//   padding-left: 6%;
// }

// .database{
//   position: absolute;
//   margin-left: 276px;
//   top: 214px;
// }
// .user{
//   position: absolute;
//   margin-left: 276px;
//   top: 262px;
// }

// .icon{
//   cursor: pointer;
//   position: absolute;
//   margin-left: 274px;
//   top: 305px;
// }

// .container_slider{
// position: absolute;
// top: 200px;
// left: 800px;
// right: 0px;
// bottom: 0px;
// }

// .nav {
//   text-align: center;
//   display: block;
//   position: absolute;
//   z-index: 1002;
//   left: 12.5%;
//   bottom: 15%;
//   right: 0;
// }

// .nav .wrapper {
//   margin: 0 auto;
//   width: 100%;
//   padding: 1em 0 .8em;  
// }

// .nav ul {
//   margin: 0;
//   width: 22%;
//   border: 3px;
//   border-radius: 20px;
//   height: 13px;
//   background-color: rgba(26, 26, 26, 0.5);
//   padding-top: 2px;
//   padding-right: 7px;
// }

// .nav .dot, .nav .dot span {
//   display: inline-block;
//   zoom: 1;
//   cursor: pointer;
// }

// .dots .dot {
//   position: relative;
//   margin: 0 8px;
//   width: 0px;
//   height: 20px;
  
// }

// .dots .dot span {
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   width: 5px;
//   height: 5px;
//   text-indent: 100%;
//   white-space: nowrap;
//   overflow: hidden;
//   background: rgba(255, 255, 255, 0.5);
//   border: 1px solid transparent;
//   outline: none;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   -webkit-transition: background-color 0.25s, border-color 0.25s;
//   -moz-transition: background-color 0.25s, border-color 0.25s;
//   transition: background-color 0.25s, border-color 0.25s;
// }

// .dots .dot span.active {
//   border: 1px solid transparent;
//   background-color: #FFFFFF;
// }

// .headingsign{
//   font-size: 21px;
//   font-weight: 700;
//   padding-top: 140px;
//   margin-bottom: 0px;
//   width: 440px;
//   height: 30px;
// }

// .helpbutton{
//   width: 120px;
//   height: 28px;
//   outline-style: none;
// }

// .help{
//   font-weight: 700;
//   cursor: pointer;
//   padding-left: 4px;
//   display: inline;
//   margin-top: 60px;
// }

// mat-card{
//   width:100%;
// }
// .mat-card:not([class*=mat-elevation-z]) {
//     box-shadow: 0 2px 1px -1px rgb(130, 128, 128), 
//                 0 1px 1px 0 rgb(111, 109, 109), 
//                 0 1px 3px 0 rgb(130, 128, 128);
// }

// .userserver {
//   position: relative;
//   width: 297px;
//   height: 21px;
//   margin: 0 8px 9.5px 0;
//   font-family: Helvetica;
//   font-size: 14px;
//   font-weight: 500;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.5;
//   letter-spacing: normal;
//   text-align: left;
//   color: rgba(26, 26, 26, 0.87);
// }

// .Line-45 {
//   width: 304.5px;
//   height: 0;
//   margin-top: -21px;
//   border: solid 1px #ccc;
// }

// @media (max-width: 5500px) {
//   .slideimage{
//     top: -9%;
//     height: 108%;
//     min-width: 72%;
//   }
//   .host{
//     min-height: 100%;
//   }
//   .nav{
//     display: none;
//   }
// }

// @media (max-width: 4100px) {
//   .slideimage{
//     top: -12%;
//     height: 113%;
//     min-width: 77%;

//     }
//     .host{
//       min-height: 99%;
//     }
// }

// @media (max-width: 2800px) {
//   .slideimage{
//     top: -19%;
//     height: 121%;
//     min-width: 85%;

//     }
//     .host{
//       min-height: 97.5%;
//     }
// }

// @media (max-width: 2100px) {
//   .slideimage{
//     top: -28%;
//     height: 130%;
//     min-width: 95%;
//     }
//     .host{
//       min-height: 96.1%;
//     }
// }

// @media (max-width: 1900px) {
//   .slideimage{
//     top: -35%;
//     height: 136%;
//     min-width: 105%;
//     }
//     .host{
//       min-height: 96%;
//     }
// }

// @media (max-width: 1550px) {
//   .slideimage{
//       top: -39%;
//       min-width: 120%;
//     }

// }

// @media (max-width: 1500px) {
//   .slideimage{
//       min-width: 125%;
//     }
// }

// @media (max-width: 1400px) {
//   .slideimage{
//     top: -46%;
//     height: 142%;
//     min-width: 155%;
//   }
//   .nav{
//     display: block;
//   }
  
// }

// @media (max-width: 1300px) {
//   .slideimage{
//       min-width: 160%;
//     }
//     .nav{
//       display: block;
//     }
// }

// @media (max-width: 1250px) {
//   .slideimage{
//       height: 138%;
//       min-width: 170%;
//     }
//     .nav{
//       display: none;
//     }

// }

// @media (max-width: 1200px) {
//   .slideimage{
//       min-width: 180%;
//     }
// }

// @media (max-width: 1150px) {
//   .slideimage{
//       min-width: 195%;
//     }
// }

// @media (max-width: 1100px) {
//   .slideimage{
//       min-width: 210%;
//     }
// }
// @media (max-width: 1050px) {
//   .slideimage{
//       min-width: 250%;
//     }
// }

// @media (max-width: 1000px) {
//   .slideimage{
//       min-width: 300%;
//     }
// }

// @media (max-width: 925px) {
//   .slideimage{
//       min-width: 340%;
//     }
// }

// @media (max-width: 950px) {
//   .slideimage{
//       min-width: 385%;
//     }
// }

// @media (max-width: 925px) {
//   .slideimage{
//       min-width: 475%;
//     }
// }

// @media (max-width: 900px) {
//   .slideimage{
//       min-width: 550%;
//     }
// }

// @media (max-width: 875px) {
//   .slideimage{
//       min-width: 800%;
//     }
// }

// @media (max-width: 850px) {
//   .slideimage{
//       min-width: 1300%;
//     }
// }

// @media (max-width: 843px) {
//   .slideimage{
//       min-width: 1650%;
//     }
// }

// @media (max-width: 837px) {
//   .slideimage{
//       min-width: 2100%;
//     }
// }

// @media (max-width: 831px) {
//   .slideimage{
//       min-width: 2800%;
//     }
// }

// @media (max-width: 829px) {
//   .slideimage{
//       min-width: 3500%;
//     }
// }

// @media (max-width: 827px) {
//   .slideimage{
//       min-width: 4000%;
//     }
// }

// @media (max-width: 825px) {
//   .slideimage{
//       min-width: 5200%;
//     }
// }

// @media (max-width: 824px) {
//   .slideimage{
//       display: block;
//       min-width: 6000%;
//     }
// }

// @media (max-width: 823px) {
//   .slideimage{
//       display: block;
//       min-width: 7000%;
//     }
// }

// @media (max-width: 822px) {
//   .slideimage{
//       display: block;
//       min-width: 8000%;
//     }
// }


// @media (max-width: 821px) {
//   .slideimage{
//       display: block;
//       min-width: 10000%;
//     }
// }

// @media (max-width: 820px) {
//   .slideimage{
//       display: block;
//       min-width: 2000%;
//     }
// }

// @media (max-width: 819px) {
// .left{
//   display: none;
// }
// .right{
//   width: 100%;
//   padding-left: 27%;
// }
// }

// @media (max-width: 550px) {
//   .right{
//       width: 100%;
//       padding-left: 20%;
//     }
// }

// @media (max-width: 450px) {
// .left{
//   display: none;
// }
// .right{
//   width: 100%;
//   padding-left: 12%;
// }
// }

// @media (max-width: 400px) {
//   .right{
//       width: 100%;
//       padding-left: 8%;
//     }
// }

// @media (max-width: 370px) {
//   .right{
//       width: 100%;
//       padding-left: 5%;
//     }
// }

// @media (max-width: 300px) {
// .right{
//   width: 100%;
//   padding-left: 2%;
// }
// .headingsign{
//   width: 320px;
//   line-height: 25px;
// }
// }

