<!-- <table class="styled-table">
  <thead>
    <tr>
      <th *ngFor="let head of columnData">
        <span *ngIf="head.ReportVsFieldsIsDisplay=='0'">
          {{head.ReportVsFieldsFieldName}}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rowData">
      <td *ngFor='let field of columnData'>
        <span *ngIf="field.ReportVsFieldsIsDisplay=='0'">
          {{item[field.ReportVsFieldsFieldName]}}
        </span>
      </td>
    </tr>
  </tbody>
</table> -->
<div class="sticky-header" [ngClass]="themeClass$ | async">
<table class="styled-table">
  <thead>
    <tr>
      <th *ngFor="let head of columnData" class="mon-sixth" style="color: #FFFFFF;">{{head?.headerName}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rowData">
      <td *ngFor='let field of columnData'>{{item[field?.field]}}</td>
    </tr>
  </tbody>
</table>
</div>