@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import './../../styles/_themes.scss';
@import './../../styles/_utilities.scss';

.items{
  outline-style: none;
}   

.gb{
  margin-right: 10px;
  margin-top: 6px;
  border-radius: 2px;
}

#usersetting{
  margin-top: 4px;
}

#client{
  position: relative;
  top: -3px;
}

#notification{
  margin-top: 7px;
}

#menu{
  margin-top: 7px;
}

#module{
  margin-top: 7px;
}

.item{
  border:1px solid #bdbaba;
  border-color: #69297F;
  border-radius: 35px;
}

.btn-modulelist {
  outline-style: none;
}

.select-modulelist {
  outline-style: none;
}


.btn-modulelist {
  outline-style: none;
}

.select-modulelist {
  outline-style: none;
}

.apps {

  width: 21.33px;
  height: 21.33px;
  outline: none !important;
  color: #666666;
}

.apps:hover {
  color: #36454f;
}

.item {
  cursor: pointer;
}


.styled-table {
  height: 405px;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  display: block;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customize {
  height: 70%;
  background-color: blue;
}


.check {
  font-size: 11px;
}

.image {
  margin-left: 26px;
}

.Inven {
  margin-left: 24px;
}

.HRMS {
  margin-left: 29px;
}

.images {
  margin-left: 30px;
}

.styled-table td {
  width: 150px;
  cursor: pointer;
  font-weight: 500;
  padding-top: 12px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  box-shadow: rgb(255, 255, 255) 1px 5px 15px;
  margin-top: 20px;

}

.styled-table td:hover {
  background-color: #e9e9e9;
}

.gb{
  border: 0px solid rgb(207, 201, 201);
}
#notification1{
  margin-left: -20px;
  margin-right: 20px;
  margin-top:15px; 
}
.theme {
  @include themeColors();

  height: 100%;
  display: grid;
  grid-template-columns: 13.5% 10% 76.5%;
  grid-template-areas: 'hbmenu client headeroptions';

  section#hbmenu {
    // @include guideline();
    grid-area: hbmenu;
    width: 50px;
    height: 18px;
    margin-top: 17px;
  }

  section#logo {
  // @include guideline();
    grid-area: logo;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-right: 15px;
    padding-bottom: 10px;
    height: 63px;
  }

  section#client {
    // @include guideline();
    grid-area: client;
    margin: 2px;
    padding: 2px;
    margin-top: 15.5px;
    display: flex;
    align-items: center;
  }
  

  section#headeroptions {
    // @include guideline();
    grid-area: headeroptions;
    margin: 2px;
    padding-left: 4px;
    margin-top:8px;
    display: flex;
    justify-content: flex-end;
    align-items: right;
  }

}


#vert{
  position: absolute;
  top: 14px;
  left: 173px;
  height: 43px;
  border-right-color:rgba(255, 255, 255, 0.5);
}

// ::ng-deep.theme--Default .mat-divider-vertical{
//   border-right-color:rgba(255, 255, 255, 0.5)
// }

// ::ng-deep.theme--Blue-light .mat-divider{
//   border-right-color:rgba(255, 255, 255, 0.5)
// }

#horz{
  //@include guideline();
  width: 100%;
  margin-top: -1px;
}
.icon{
  margin-top: 9px;
  outline-style: none;
}
.more{
  margin-top: 9px;
  outline-style: none;
}

.more1{
  margin-top: 9px;
  outline-style: none;
}

::ng-deep .mat-menu-panel{
  min-height: 40px !important;
}

@media (min-width: 641px) {
  button.icon {display:none}
  button.more {display:none}
  button.more1 {display:none}
  app-gbsearch.gb {display:inline-block}
}
@media (min-width: 2000px) {
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns: 9.5% 10% 80.5%;
   grid-template-areas: 'hbmenu client headeroptions';
  }
}
@media (max-width: 1999px) {
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns: 11.5% 10% 78.5%;
   grid-template-areas: 'hbmenu client headeroptions';
  }
}
@media (max-width: 1600px) {
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns: 13.5% 10% 76.5%;
   grid-template-areas: 'hbmenu client headeroptions';
  }
}
@media (max-width: 1300px) {
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:14.5% 18.5% 67%;
    grid-template-areas: 'hbmenu client headeroptions';
    // section#client{
    //   display: none;
    // }
    section#vert{
      display: none;
    }
  }
}

@media (max-width: 1195px) {
  .theme {
    display: grid;
    grid-template-columns:15% 75%;
    grid-template-areas: 'hbmenu headeroptions';
    section#client{
      display: none;
    }
    section#vert{
      display: none;
    }
  }
}

@media (max-width: 820px) {
  button.icon {display:inline-block}
  button.more {display:none}
  button.more1 {display:none}
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
  }
  #searchbar {
    display: none;
  }
  
  // #client {
  //   display: none;
  // }
  //app-gbsearch.gb {display:none}
}

@media (max-width: 700px) {
  button.icon {display:inline-block}
  button.more {display:none}
  button.more1 {display:none}
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
    
  }
  #searchbar {
    display: none;
  }
}
@media (max-width: 600px) {
  .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
    section#notification{
      display: none;
    }
  }
}
@media (max-width: 550px) {
  button.icon {display:inline-block}
  button.more1 {
    display:inline-block;
  }
  button.more {display:none;}
  #searchbar {
    display: none;
  }
  app-gbnotification.app {display:none}
  app-gbmodulelist.app {display:none}
  //app-gbusersetting.app {display:none}
  app-gbappmenu.app {display: none}
  // app-gbclient.app {display: none}
    .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    .section#headeroptions {
      justify-content:flex-start;
      align-items: left;
    }
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
    section#notification{
      display: none;
    }
    section#menu{
      display: none;
    }
  }
}
@media (max-width: 450px) {
  button.icon {display:inline-block}
  button.more {
    display:inline-block
  }
  button.more1 {display:none}
  #searchbar {
    display: none;
  }
  app-gbnotification.app {display:none}
  app-gbmodulelist.app {display:none}
  //app-gbusersetting.app {display:none}
  app-gbappmenu.app {display: none}
  // app-gbclient.app {display: none}
    .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    .section#headeroptions {
      justify-content:flex-start;
      align-items: left;
    }
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
    section#notification{
      display: none;
    }
    section#menu{
      display: none;
    }
    // section#usersetting{
    //   display: none;
    // }
  }
}

@media (max-width: 320px) {
  button.icon {display:inline-block}
  button.more {display:inline-block}
  button.more1 {display:none}
  #searchbar {
    display: none;
  }
  app-gbnotification.app {display:none}
  app-gbmodulelist.app {display:none}
  //app-gbusersetting.app {display:none}
  app-gbappmenu.app {display: none}
  // app-gbclient.app {display: none}
    .theme {
    display: grid;
    // grid-template-columns:auto 78% 15%;
    grid-template-columns:25%  75%;
    grid-template-areas: 'hbmenu headeroptions';
    .section#headeroptions {
      justify-content:flex-start;
      align-items: left;
    }
    section#client{
      display: none;
    }
    #vert{
      display: none;
    }
    section#notification{
      display: none;
    }
    section#menu{
      display: none;
    }
    // section#usersetting{
    //   display: none;
    // }
  }
}

::ng-deep .custom-class {
  background-color: transparent!important;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  display: none !important;
}
