<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span id="FormReportHeader">
    <span class="btns" [ngClass]="themeClass$ | async">
        <div *ngIf="viewmode=='Reports' || viewmode ==='Report&forms'"></div>
        <div class="FormBtns" *ngIf="viewmode=='Forms'">
            <button class="movePrev" mat-raised-button [disabled]="disableButton" (click)="movePrev()">
                <mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon>
            </button>
            <button class="moveNext" mat-raised-button [disabled]="disableButton" (click)="moveNext()">
                <mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon>
            </button>
            <button class="caption-med-12-type-primary save" [disabled]="disableButton" mat-raised-button
                 (click)="saveRecord()">
                <mat-icon>save</mat-icon>Save
            </button>
            <button class="caption-med-12-type-primary delete" [disabled]="disableButton" mat-raised-button
                 (click)="deleteRecord()">
                <mat-icon>delete</mat-icon>Delete
            </button>
            <button class="caption-med-12-type-primary edit" mat-raised-button
                (click)="editRecord()">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-raised-button [disabled]="disableButton" class="caption-med-12-type-primary text"
                 (click)='clearRecord()'>
                <mat-icon>add_circle</mat-icon>Add New
            </button>
        </div>
        <div class="ReportBtns" *ngIf="viewmode=='Reports' || viewmode ==='Report&forms'" style="padding-top: 15px;">
            <span class="pagination"><span class="pagenumber">{{firstnumber}} - {{maxresult}} of {{TotalRecord}}</span><button class="pagebutton" mat-raised-button (click)="prepreviousset()"><<</button><button class="pagebutton" mat-raised-button (click)="previousset()"><</button><button class="pagebutton" mat-raised-button (click)="nextset()">></button><button class="pagebutton" mat-raised-button (click)="nextnextset()">>></button></span>
            <button mat-raised-button style="top: -20px; margin-right: 10px; height: 28px;" *ngIf="viewmode =='Report&forms'"
                (click)="path()"><mat-icon style="font-size: 16px; width: 16px; height: 16px;">add_box</mat-icon></button>
            <button [matMenuTriggerFor]="ViewList" class="btn viewlist" mat-raised-button>
                <img width="16px" height="16px" src="assets/icons/ViewList.png">
                <mat-menu #ViewList="matMenu">
                    <div>
                        <span mat-menu-item class="viewdata"
                            (click)='selectedview({Id: values.ReportViewId, View: values.ReportViewType , SecondTemplateLocation: values.SecondTemplateLocation,ViewName: values.ReportViewName , TemplateLocation: values.TemplateLocation})'
                            *ngFor="let values of viewtypes">{{ values.ReportViewName }}</span>
                    </div>
                </mat-menu>
            </button>

            <button color="" [matMenuTriggerFor]="matmenu" class="btn vert" mat-raised-button>
                <mat-icon style="font-size: 16px; width: 16px; height: 16px;">more_vert</mat-icon>
                <mat-menu #matmenu="matMenu" class="mymegamenu">
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata" (click)="pdf()">
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>PDF</span>
                    </div>
                    <div mat-menu-item [matMenuTriggerFor]="excel" class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>description</mat-icon>
                        <span>Excel</span>
                    </div>
                    <mat-menu #excel="matMenu" class="mymegamenu">
                        <span *ngFor="let data of exceldata">
                            <span *ngIf="data.TemplateId=='-1'">
                                <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                                    <mat-icon>description</mat-icon>
                                    <span (click)="Excel(data)">{{ data.ReportViewName }}</span>
                                </div>
                            </span>
                        </span>
                    </mat-menu>
                    <div mat-menu-item [matMenuTriggerFor]="csv" class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>description</mat-icon>
                        <span>CSV</span>
                    </div>
                    <mat-menu #csv="matMenu" class="mymegamenu">
                        <span *ngFor="let data of exceldata">
                            <span *ngIf="data.TemplateId=='-1'">
                                <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                                    <mat-icon>description</mat-icon>
                                    <span (click)="CSV(data)">{{ data.ReportViewName }}</span>
                                </div>
                            </span>
                        </span>
                    </mat-menu>
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon (click)="gblogclick()">home</mat-icon>
                        <span (click)="gblogclick()">Gb Log</span>
                    </div>
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon (click)="aboutclick()">info</mat-icon>
                        <span (click)="aboutclick()">About</span>
                    </div>
                </mat-menu>
            </button>
            <!-- <app-gbfilter></app-gbfilter> -->
        </div>
    </span>

    <ng-template #prompt>
        <span #prompt>
            <button color="" [matMenuTriggerFor]="matmenu" class="btn vert" mat-raised-button>
                <mat-icon>more_vert</mat-icon>
                <mat-menu #matmenu="matMenu" class="mymegamenu">
                    <button mat-menu-item>
                        <mat-icon>autorenew</mat-icon>
                        <span class="caption-med-12-type-primary">Refresh</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>receipt</mat-icon>
                        <span class="caption-med-12-type-primary">Report</span>
                    </button>
                    <button mat-menu-item (click)="pdf()">
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span class="caption-med-12-type-primary">PDF</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>photo_filter</mat-icon>
                        <span class="caption-med-12-type-primary">CSV</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>email</mat-icon>
                        <span class="caption-med-12-type-primary">Mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon (click)="gblogclick()">home</mat-icon>
                        <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon (click)="aboutclick()">home</mat-icon>
                        <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <span class="caption-med-12-type-primary">Pivot</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>open_in_new</mat-icon>
                        <span class="caption-med-12-type-primary">View</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>build</mat-icon>
                        <span class="caption-med-12-type-primary">View Settings</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>subject</mat-icon>
                        <span class="caption-med-12-type-primary">Scheduler</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>print</mat-icon>
                        <span class="caption-med-12-type-primary">Print</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>favorite_border</mat-icon>
                        <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
                    </button>
                </mat-menu>
            </button>
        </span>
    </ng-template>



    <button class="icon FormIcon" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="viewmode=='Forms'">
        <mat-icon class="more">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item class="movePrev" (click)="movePrev()">
            <mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-menu-item class="moveNext" (click)="moveNext()">
            <mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon>
        </button>
        <button mat-menu-item class="save" (click)="saveRecord()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-menu-item class="delete" (click)="deleteRecord()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-menu-item class="edit" (click)="saveRecord()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-menu>
    <button class="icon ReportIcon" *ngIf="viewmode=='Reports'">
        <button mat-menu-item [matMenuTriggerFor]="for" class="more" height="32px" width="32px"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #for="matMenu" class="s">
            <button mat-menu-item style="display: flex; align-items: center;">
                <!-- <app-gbfilter style="height: 36px;"></app-gbfilter> -->
                <span class="caption-med-12-type-primary">Filter</span>
            </button>
            <button mat-menu-item>
                <mat-icon>autorenew</mat-icon>
                <span class="caption-med-12-type-primary">Refresh</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>receipt</mat-icon>
                <span class="caption-med-12-type-primary">Report</span>
            </button>
            <button mat-menu-item>
                <mat-icon>picture_as_pdf</mat-icon>
                <span class="caption-med-12-type-primary">PDF</span>
            </button>
            <button mat-menu-item>
                <mat-icon>photo_filter</mat-icon>
                <span class="caption-med-12-type-primary">CSV</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>email</mat-icon>
                <span class="caption-med-12-type-primary">Mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="gblogclick()">home</mat-icon>
                <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="aboutclick()">home</mat-icon>
                <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span class="caption-med-12-type-primary">Pivot</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>open_in_new</mat-icon>
                <span class="caption-med-12-type-primary">View</span>
            </button>
            <button mat-menu-item>
                <mat-icon>build</mat-icon>
                <span class="caption-med-12-type-primary">View Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span class="caption-med-12-type-primary">Scheduler</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>print</mat-icon>
                <span class="caption-med-12-type-primary">Print</span>
            </button>
            <button mat-menu-item>
                <mat-icon>favorite_border</mat-icon>
                <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
            </button>
        </mat-menu>
    </button>
</span>