// @import url("https://fonts.googleapis.com/css?family=Helvetica");
// @import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
// ::ng-deep .mat-option-text{
//     font-family: "Helvetica";
//     font-size: 12px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 20px;  
// }

// ::ng-deep .mat-menu-item:hover:not([disabled]),
//  .mat-menu-item.cdk-program-focused:not([disabled]),
//  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
//  .mat-menu-item-highlighted:not([disabled]) {
//     background-color: var(--color) !important;
//     color: #FFFFFF !important;
// }

// ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: #FFFFFF !important;
//     border-radius: 4px !important;
//     background-color: var(--color) !important;
// }

// ::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
//     color: #FFFFFF !important;
//     border-radius: 4px !important;
// }

// ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: #FFFFFF !important;
//     border-radius: 4px !important;
//     background-color: var(--color) !important;
// }

// ::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
//     color: #FFFFFF !important;
//     border-radius: 4px !important;
//     background-color: var(--color) !important;
// }

// ::ng-deep .mat-option.mat-active{
//   background-color: #FFFFFF;
// }

// ::ng-deep .mat-option.mat-active{
//   background-color: #FFFFFF;
// }

// ::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
//     background-color: var(--color) !important;
//     color: #FFFFFF !important;
// }

// ::ng-deep .mat-select-panel::-webkit-scrollbar {
//     width: 2px;
// }

// ::ng-deep .mat-select-panel::-webkit-scrollbar-track {
//     background: #F7F7F7;
//     box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
// }

// ::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
//     background: var(--color);
//     border-radius: 4px;
// }

// ::ng-deep .mat-select-panel::-webkit-scrollbar-thumb:hover {
//     background: var(--color);
//     border-radius: 4px;
// }

// ::ng-deep .mat-select-panel{
//     overflow: scroll;
//     overflow-x: hidden;
//     width: 240px;
// }

// ::ng-deep .mat-option.mat-active{
//     background-color: var(--color) !important;
//     color: #FFFFFF !important;
// }

// ::ng-deep .mat-select-arrow{
//     border-left: 20px solid transparent !important;
//     border-right: none !important;
//     border-top: 20px solid transparent !important;
//     border-image-source: url('./../../../../../../apps/Goodbooks/Goodbooks//src/assets/icons/arrow.png') !important;
//     border-image-repeat: stretch !important;
// }
