<div *ngIf="(loginDTOs$ | async); then main; else login">
</div>
<ng-template #login>
  <app-logincommon></app-logincommon>
</ng-template>

<ng-template #main>
    <app-lo-gb></app-lo-gb>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" 
type = "ball-spin-clockwise" [fullScreen] = "true">
<p style="color: white;"> Loading... </p>
</ngx-spinner>