<!-- <ng-container [formGroup]="gbFormGroup">

<ng-template
*ngIf="ReadOnly==false;then editableTemplate; else readonlyTemplate">
</ng-template>

<ng-template #readonlyTemplate>
<mat-label>{{Field.Label}}</mat-label><br/>
{{value.Address1}}, <br/>
{{value.Address2}}, <br/>
{{value.City}},
{{value.State}}, <br/>
{{value.Country}},
{{value.PostCode}}
</ng-template>

<ng-template #editableTemplate >
  {{Field.Label}}
<table class="example-full-width" cellspacing="0">
   <tr>
    <td>
      <app-gb-input formControlName="Address1"></app-gb-input>
    </td>
    <td>
      <app-gb-input formControlName="Address2"></app-gb-input>
    </td>
  </tr>
  <tr>
    <td>
      <app-gb-input formControlName='City'></app-gb-input>
    </td>
    <td>
      <app-gb-input formControlName='State'></app-gb-input>
    </td>
  </tr>
  <tr>
    <td>
      <app-gb-input formControlName='Country'></app-gb-input>
    </td>
    <td>
      <app-gb-numeric formControlName='PostCode'></app-gb-numeric>
    </td>
  </tr>
</table>
<a href="https://www.google.com/maps/place/{{value.Address1}}, {{value.City}}, {{value.State}}, {{value.PostCode}}" target="_new" >Location</a><br/>

</ng-template>
</ng-container> -->
