@import './../../styles/_themes.scss';
@import './../../styles/_utilities.scss';
.example-container {
  height: 500px;
}
:host {
  @include fullpage();
}
// *{
//   @include guideline();
// }

#layout {
  @include fullpage();
  display: grid;
  grid-template-rows: 72px auto 35px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
app-gbappheader{
grid-area: header;
}
app-gbappfooter{
  grid-area: footer;
  }
main {
  // margin: 2px;
  // padding: 2px;
  grid-area: main;
  overflow-x: hidden;
}

.sidebarcontainer {
  height: 100%;
  // @include themeColors();
}

.leftmenu{
  // height: 100%;
  width:auto;
}

.leftsidebar{
  border-style: solid;
  border-radius: 0px;
  border-color: none;
  border-width: 1px;
}

::ng-deep .mat-drawer-inner-container{
  scrollbar-width: thin;
  scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
  background-color: var(--secondarycolor);
}

::ng-deep .mat-drawer-inner-container:hover{
  scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: var(--color);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

::ng-deep .mat-drawer-content{
  overflow: hidden !important;
}

@media (max-width: 450px) {
  .mainfooter{
    display: none;
  }
}