<button mat-icon-button class="btn-modulelist">
    <img routerLinkActive="active" [routerLink]="'GoodBooks/Module'" class="apps" src="assets/icons/ModuleMenu.png"
        style="margin-top: 0px;margin-right: 20px;"></button>
        <!-- <mat-menu #matmenu="matMenu" class="customize" xPosition="before">
            <table class="styled-table">
                <br><tr>
                    <td *ngIf=modulelist[0] class="child" (click)="SelectedModuleId(modulelist[0].ModuleId)">
                        <img class="image" style="margin-left: 28px;" img src='{{ "assets/custom_image/" + modulelist[0].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[0].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[1] class="child" (click)="SelectedModuleId(modulelist[1].ModuleId)">
                        <img class="images" img src='{{ "assets/custom_image/" + modulelist[1].ModuleName + ".png" }}' height="32px" width="32px" alt="" />
                        <p class="check">{{modulelist[1].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[2] class="child" (click)="SelectedModuleId(modulelist[2].ModuleId)">
                        <img class="Inven" style="margin-left: 28px;" src='{{ "assets/custom_image/" + modulelist[2].ModuleName + ".png" }}' height="39px" width="39px" alt="" />
                        <p class="check">{{modulelist[2].ModuleName}}</p>
                    </td>
                </tr>
                <br><tr>
                    <td *ngIf=modulelist[3] class="child" (click)="SelectedModuleId(modulelist[3].ModuleId)">
                        <img class="image" src='{{ "assets/custom_image/" + modulelist[3].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[3].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[4] class="child" (click)="SelectedModuleId(modulelist[4].ModuleId)">
                        <img class="images" style="margin-left: 26px;" img src='{{ "assets/custom_image/" + modulelist[4].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[4].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[5] class="child" (click)="SelectedModuleId(modulelist[5].ModuleId)">
                        <img class="image" style="margin-left: 33px;" img src='{{ "assets/custom_image/" + modulelist[5].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[5].ModuleName}}</p>
                    </td>
                </tr>
               <br><tr>
                    <td *ngIf=modulelist[6] class="child" (click)="SelectedModuleId(modulelist[6].ModuleId)">
                        <img class="image" style="margin-left: 30px;" src='{{ "assets/custom_image/" + modulelist[6].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[6].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[7] class="child" (click)="SelectedModuleId(modulelist[7].ModuleId)">
                        <img class="HRMS" style="margin-left: 30px;" img src='{{ "assets/custom_image/" + modulelist[7].ModuleName + ".png" }}' height="26px" width="26px"alt="" />
                        <p class="check">{{modulelist[7].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[8] class="child" (click)="SelectedModuleId(modulelist[8].ModuleId)">
                        <img class="image" style="margin-left: 30px;" img src='{{ "assets/custom_image/" + modulelist[8].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[8].ModuleName}}</p>
                    </td>
                </tr>
                <br><tr>
                    <td *ngIf=modulelist[9] class="child" (click)="SelectedModuleId(modulelist[9].ModuleId)">
                        <img class="image" style="margin-left: 27px;" img src='{{ "assets/custom_image/" + modulelist[9].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[9].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[10] class="child" (click)="SelectedModuleId(modulelist[10].ModuleId)">
                        <img class="image" src='{{ "assets/custom_image/" + modulelist[10].ModuleName + ".png" }}' height="39px" width="39px"alt="" />
                        <p class="check">{{modulelist[10].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[11] class="child" (click)="SelectedModuleId(modulelist[11].ModuleId)">
                        <img class="image" img src='{{ "assets/custom_image/" + modulelist[11].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[11].ModuleName}}</p>
                    </td>
                </tr>             
                <br><tr>
                    <td *ngIf=modulelist[12] class="child" (click)="SelectedModuleId(modulelist[12].ModuleId)">
                        <img class="image"  style="margin-left: 30px;" img src='{{ "assets/custom_image/" + modulelist[12].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[12].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[13] class="child" (click)="SelectedModuleId(modulelist[13].ModuleId)">
                        <img class="image" style="margin-left: 37px;" img src='{{ "assets/custom_image/" + modulelist[13].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[13].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[14] class="child" (click)="SelectedModuleId(modulelist[14].ModuleId)">
                        <img class="image" style="margin-left: 26px;" src='{{ "assets/custom_image/" + modulelist[14].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[14].ModuleName}}</p>
                    </td>
                </tr>             
                <br><tr>
                    <td *ngIf=modulelist[15] class="child" (click)="SelectedModuleId(modulelist[15].ModuleId)">
                        <img class="image" style="margin-left: 33px;" img src='{{ "assets/custom_image/" + modulelist[15].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[15].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[16] class="child" (click)="SelectedModuleId(modulelist[16].ModuleId)">
                        <img class="image" img src='{{ "assets/custom_image/" + modulelist[16].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[16].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[17] class="child" (click)="SelectedModuleId(modulelist[17].ModuleId)">
                        <img class="image" style="margin-left: 31px;" img src='{{ "assets/custom_image/" + modulelist[17].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[17].ModuleName}}</p>
                    </td>
                </tr>              
                <br><tr>
                    <td *ngIf=modulelist[18] class="child" (click)="SelectedModuleId(modulelist[18].ModuleId)">
                        <img class="image" src='{{ "assets/custom_image/" + modulelist[18].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[18].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[19] class="child" (click)="SelectedModuleId(modulelist[19].ModuleId)">
                        <img class="image" img src='{{ "assets/custom_image/" + modulelist[19].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[19].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[20] class="child" (click)="SelectedModuleId(modulelist[20].ModuleId)">
                        <img class="image" style="margin-left: 36px;" style="margin-left: 32px;" img src='{{ "assets/custom_image/" + modulelist[20].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[20].ModuleName}}</p>
                    </td>
                </tr>
                <br><tr>
                    <td *ngIf=modulelist[21] class="child" (click)="SelectedModuleId(modulelist[21].ModuleId)">
                        <img class="image" style="margin-left: 27px;" img src='{{ "assets/custom_image/" + modulelist[21].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[21].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[22] class="child" (click)="SelectedModuleId(modulelist[22].ModuleId)">
                        <img class="image" style="margin-left: 28px;" src='{{ "assets/custom_image/" + modulelist[22].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[22].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[23] class="child" (click)="SelectedModuleId(modulelist[23].ModuleId)">
                        <img class="image" style="margin-left: 31px;" img src='{{ "assets/custom_image/" + modulelist[23].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[23].ModuleName}}</p>
                    </td>
                </tr>            
                <br><tr>
                    <td *ngIf=modulelist[24] class="child" (click)="SelectedModuleId(modulelist[24].ModuleId)">
                        <img class="image" style="margin-left: 27px;" img src='{{ "assets/custom_image/" + modulelist[24].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[24].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[25] class="child" (click)="SelectedModuleId(modulelist[25].ModuleId)">
                        <img class="image" style="margin-left: 32px;" img src='{{ "assets/custom_image/" + modulelist[25].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[25].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[26] class="child" (click)="SelectedModuleId(modulelist[26].ModuleId)">
                        <img class="image" style="margin-left: 25px;" src='{{ "assets/custom_image/" + modulelist[26].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[26].ModuleName}}</p>
                    </td>
                </tr>
                
                <br><tr>
                    <td *ngIf=modulelist[27] class="child" (click)="SelectedModuleId(modulelist[27].ModuleId)">
                        <img class="image" style="margin-left: 32px;" img src='{{ "assets/custom_image/" + modulelist[27].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[27].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[28] class="child" (click)="SelectedModuleId(modulelist[28].ModuleId)">
                        <img class="image" img src='{{ "assets/custom_image/" + modulelist[28].ModuleName + ".png" }}' height="38px" width="38px"alt="" />
                        <p class="check">{{modulelist[28].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[29] class="child" (click)="SelectedModuleId(modulelist[29].ModuleId)">
                        <img class="image" style="margin-left: 35px;" img src='{{ "assets/custom_image/" + modulelist[29].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[29].ModuleName}}</p>
                    </td>
                </tr>
                <br><tr>
                    <td *ngIf=modulelist[31] class="child" (click)="SelectedModuleId(modulelist[31].ModuleId)">
                        <img class="image" style="margin-left: 38px;" img src='{{ "assets/custom_image/" + modulelist[31].ModuleName + ".png" }}' height="32px" width="32px"alt="" />
                        <p class="check">{{modulelist[31].ModuleName}}</p>
                    </td>
                    <td *ngIf=modulelist[30] class="child" (click)="SelectedModuleId(modulelist[30].ModuleId)">
                        
                        <p class="check">{{modulelist[30].ModuleName}}</p>
                    </td>
                    <td>
                        
                    </td>
                </tr> 
            </table> 
    </mat-menu> -->

