<mat-form-field>
  <mat-select 
  class="themes"
  #theme
  matNativeControl
  (valueChange)="changeTheme($event)"
  class="bg-default availableThemes"
  [value]="theme$ | async"
  >
  <mat-option value="Default">Default</mat-option>
  <mat-option value="Blue">Blue</mat-option>
  <mat-option value="Pink">Pink</mat-option>
  <mat-option value="Red">Red</mat-option>
  <mat-option value="Aqua">Aqua</mat-option>
  <mat-option value="Yellow">Yellow</mat-option>
  <mat-option value="Teal">Teal</mat-option>
  <mat-option value="Green">Green</mat-option>
  </mat-select>
    <!-- <select
      class="themes"
      #theme
      matNativeControl
      (change)="changeTheme(theme.value)"
      class="bg-default availableThemes"
      getThemeList
      [value]="theme$ | async"
    >
      <option class="default">--None--</option>
    </select> -->
  </mat-form-field>
  <mat-form-field>

    <mat-select 
    class="themes"
    #mode
    matNativeControl
    (valueChange)="changeMode($event)"
    class="bg-default availableThemes"
    [value]="mode$ | async"
    >
      <mat-option value="light">Light</mat-option>
      <mat-option value="dark">Dark</mat-option>
    </mat-select>
    <!-- <select
      #mode
      matNativeControl
      (change)="changeMode(mode.value)"
      class="bg-default availableThemes"
      [getThemeMode]="theme$ | async"
      [value]="mode$ | async"
    >
      <option value="">--none--</option>
    </select> -->
  </mat-form-field>

  <!-- <button>My Name</button> -->
