//themes----------------------------------------
$bg-light: #F5F4F3;
//dark
$bg--dark--top: #333848;
$bg--dark--bottom: #212631;
$bg--dark: linear-gradient(180deg, $bg--dark--top 0%, $bg--dark--bottom 100%);

//red
$bg--red--top: #b5514d;
$bg--red--bottom: #77332e;
$bg--red: linear-gradient(180deg, $bg--red--top 0%, $bg--red--bottom 100%);

//green
$bg--green--top: #497957;
$bg--green--bottom: #2e7753;
$bg--green: linear-gradient(180deg, $bg--green--top 0%, $bg--green --bottom 100%);

//blue
$bg--blue--top: #386188;
$bg--blue--bottom: #545185;
$bg--blue: linear-gradient(180deg, $bg--blue--top 0%, $bg--blue --bottom 100%);

//purple
$bg--purple--top: #7f3888;
$bg--purple--bottom: #663672;
$bg--purple: linear-gradient(180deg, $bg--purple--top 0%, $bg--purple --bottom 100%);

//grey
$bg--grey--top: #53565a;
$bg--grey--bottom: #504f55;
$bg--grey: linear-gradient(180deg, $bg--grey--top 0%, $bg--grey --bottom 100%);



//textcolors--------------------------------------
$text--red: rgb(232, 26, 26);
$text--blue: rgb(26, 40, 232);
$text--purple: rgb(184, 26, 232);
$text--black: rgb(15, 14, 14);
$text--white: rgb(248, 245, 245);
$text--green: rgb(26, 232, 95);
$text--yellow: rgb(229, 232, 26);
$text--orange: rgb(232, 115, 26);
$text--pink: rgb(232, 26, 105);

//button-size---------------------------------------

%primarybutton{
    width: 124px;
    height: 40px;
    margin: 0 0 0 10px;
    padding: 10px 35px;
    border-radius: 5px;
} 

%secondarybutton{
    width: 124px;
    height: 40px;
    margin: 0 10px;
    padding: 10px 40px;
    border-radius: 5px;
}

%tertiarybutton{
    width: 124px;
    height: 40px;
    margin: 0 10px 0 0;
    padding: 10px 38px 10px 40px;
    border-radius: 5px;
    border: solid 1px #cccccc;
}

//image------------------------------------------
%entity_img{
    width: 95px;
    height: 95px;
    margin: 0 20px 0 0;
    border: solid 2px #bababa;
}