@import "./settings";


//shortcuts
$bg: 'bg';
$text-important: 'text-important';
$text-secondary: 'text-secondary';
$primary-button: 'primary-button';
$secondary-button:'secondary-button';
$tertiary-button:'tertiary-button';
$icons:'icons';
$header: 'header';
$sidenav: 'sidenav';
$footer: 'footer';
$hints: 'hints';
  
$themes: (
  default: (
    logo: url("../images/brand/logo_vertical.svg"),
    logo-2: url("../images/brand/logo_horizontal.svg"),   
    bg: $bg--light,
    text: $text--dark,
    text-important: $text--red,
    text-secondary: $text--red,
    text-badge: $text--light,
    hints: $text--purple,
    primary-button: $bg--purple,
    secondary-button: $bg--grey,
    tertiary-button: $bg--white,
    icons-background:$bg--grey,
    header-background:$bg--purple
    footer-background:$bg--grey
    sidenav-background:$bg--purple
    // button-background: $bg--green,
    link: $bg--green,
  ),
  dark: (
    logo: url("../images/brand/logo_vertical--invert.svg"),
    logo-2: url("../images/brand/logo_horizontal--invert.svg"),
    bg: $bg--dark--top,
    text: $text--white,
    text-important: $text--white,
    text-secondary: $text--white,
    text-badge: $text--dark,
    hints: $text--white,
    // button-background: $bg--red,
    primary-button: $bg--green,
    secondary-button: $bg--blue,
    tertiary-button: $bg--white,
    icons-background:$bg--white,
    link: $bg--red,
    header-background:$bg--blue,
    footer-background:$bg--grey,
    sidenav-background:$bg--blue,
  ),
  blue: (
    logo: url("../images/brand/logo_vertical--invert.svg"),
    logo-2: url("../images/brand/logo_horizontal--invert.svg"),
    bg: $bg--blue,
    text:  $text--orange,
    text-important: $text--yellow,
    text-secondary: $text--yellow,
    text-badge: $text--dark,
    hints: $text--white,
    // button-background: $bg--grey,
    primary-button: $bg--red,
    secondary-button: $bg--grey,
    tertiary-button: $bg--white,
    link: $bg--dark,
    icons-background:$bg--white,
    header-background:$bg--red,
    footer-background:$bg--grey,
    sidenav-background:$bg--red,
  ),
);


@mixin themed() {
    @each $theme, $map in $themes {
      // @debug "theme---: #{$theme}";
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
          // @debug "themevalue---: #{$key}: #{$value}";
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @mixin currentTheme1() {
  }
  @mixin currentTheme2() {
    @include themed() {
      color: t($text);
      background: t($bg);
      background-color: t($bg);
      test: "df"
    }
  }
  
  @function t($key) {
    @return map-get($theme-map, $key);
  }
  
  @mixin themeColors() {
    @each $theme, $map in $themes {
      // @debug "&.theme--#{$theme}";
      &.theme--#{$theme}, & .theme--#{$theme}, .theme--#{$theme} & {
        background-color: map-get(map-get($themes, $theme), $bg);
        color: map-get(map-get($themes, $theme), $text);
        t:'';
      }
    }
  }
  
  @mixin themeProperty($property, $key) {
    @each $theme, $map in $themes {
      // @debug "&.theme--#{$theme}";
      &.theme--#{$theme}, & .theme--#{$theme}, .theme--#{$theme} & {
        #{$property}: map-get(map-get($themes, $theme), $key);
      }
    }
  }

  @function themeProperty($themeName, $key) {
    @return map-get(map-get($themes, $themeName), $key);
  }

  //