<div class="title">
  {{ formtitle }}
</div>

<span *ngIf="this.formComponent?.isDataPage">
  <button mat-raised-button class="add" color="primary"><mat-icon>add_circle</mat-icon>Add New</button>
<mat-divider></mat-divider>  
</span>


<div class="headerbuttons">
  <span *ngIf="this.formComponent?.isDataPage">
    <!-- <button (click)="clearRecord()">New</button>
    <button (click)="addRecord()">Save</button> -->
    <!-- <button (click)="deleteRecord()">Delete</button> -->
  </span>
  <span *ngIf="this.formComponent?.hasNavigation">
    <button class="movePrev" mat-stroked-button (click)="movePrev()"><mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon></button>
    <button class="moveNext" mat-stroked-button (click)="moveNext()"><mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon></button>
    <button class="delete" mat-stroked-button (click)="deleteRecord()">Delete<mat-icon>delete</mat-icon></button>
    <button class="delete" mat-stroked-button (click)="deleteRecord()"><mat-icon>edit</mat-icon> Edit</button>
    <button class="btn vert" mat-stroked-button><mat-icon>more_vert</mat-icon></button>
  </span>
</div>
<button *ngIf="this.formComponent?.isDataPage" mat-raised-button color="primary" class="expand"><mat-icon class="more">expand_more</mat-icon></button>
<p *ngIf="this.formComponent?.isDataPage" class="subformheader">ABC Corporation (par0000106)</p>
<div *ngIf="this.formComponent?.isDataPage" class="summary">
  <a class="image"><img src="./../../../assets/icons/GBlogo.png" width="75px" height="50px"></a>
  <p class="Balance">Balance</p>
  <p class="sales">Ongoing sales</p>
  <p class="sales2">Ongoing sales</p>
  <p class="sales3">Ongoing sales</p>
</div>
<div *ngIf="this.formComponent?.isDataPage" class="summary">
  <p class="value"></p>
  <p class="value1"></p>
  <p class="value2"></p>
  <p class="value3"></p>
</div>

