
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- Type Checks ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@function is-number($value) {
  @return type-of($value) == 'number';
}

@function is-time($value) {
  @return is-number($value) and index('ms' 's', unit($value)) != null;
}

@function is-duration($value) {
  @return is-time($value);
}

@function is-angle($value) {
  @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function is-frequency($value) {
  @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function is-integer($value) {
  @return is-number($value) and round($value) == $value;
}

@function is-relative-length($value) {
  @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function is-absolute-length($value) {
  @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

@function is-length($value) {
  @return is-relative-length($value) or is-absolute-length($value);
}

@function is-resolution($value) {
  @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function is-position($value) {
  @return is-length($value) or is-percentage($value) or index('top' 'right' 'bottom' 'left' 'center', $value) != null;
}

@function is-map($value) {
  @return type-of($value) == 'map';
}

@function is-list($value) {
  @return type-of($value) == 'list';
}

@function is-color($value) {
  @return type-of($value) == 'color';
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- Math ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @function pow($number, $exponent) {
//   @if (round($exponent) != $exponent) {
//     @return exp($exponent * ln($number));
//   }

//   $value: 1;

//   @if $exponent > 0 {
//     @for $i from 1 through $exponent {
//      $value: $value * $number;
//     }
//   } @else if $exponent < 0 {
//     @for $i from 1 through -$exponent {
//       $value: $value / $number;
//     }
//   }

//   @return $value;
// }
// @function factorial($value) {
//   $result: 1;

//   @if $value == 0 {
//     @return $result;
//   }

//   @for $index from 1 through $value {
//     $result: $result * $index;
//   }

//   @return $result;
// }

// @function summation($iteratee, $input, $initial: 0, $limit: 100) {
//   $sum: 0;

//   @for $index from $initial to $limit {
//     $sum: $sum + call($iteratee, $input, $index);
//   }

//   @return $sum;
// }

// @function exp-maclaurin($x, $n) {
//   @return (pow($x, $n) / factorial($n));
// }

// @function exp($value) {
//   @return summation('exp-maclaurin', $value, 0, 100);
// }

// @function ln-maclaurin($x, $n) {
//   @return (pow(-1, $n + 1) / $n) * (pow($x - 1, $n));
// }

// @function ln($value) {
//   $ten-exp: 1;
//   $ln-ten: 2.30258509;

//   @while ($value > pow(10, $ten-exp)) {
//     $ten-exp: $ten-exp + 1;
//   }

//   @return summation(ln-maclaurin, $value / pow(10, $ten-exp), 1, 100) + $ten-exp * $ln-ten;
// }

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- Logging -------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$ENUM_LOG_LEVEL: (
  E: 0, // Error
  W: 1, // Warn
  I: 2, // Info
  D: 3, // Debug
  V: 4 // Verbose
);
$LOG_LEVEL: map-get($ENUM_LOG_LEVEL, E) !default;
$SUPPRESS_WARNINGS: false !default;
@function setloglevel($newLevel) {
  $LOG_LEVEL: map-get($ENUM_LOG_LEVEL, $newLevel) !global;
  @return true;
}
@function log($level, $args) {
  $lvlNo: $LOG_LEVEL;
  @if not is-number($lvlNo) { $lvlNo: map-get($ENUM_LOG_LEVEL, $lvlNo); }

  @if $lvlNo >= $level  {
    @if $level == map-get($ENUM_LOG_LEVEL, E) { @error $args; }
    @if $level == map-get($ENUM_LOG_LEVEL, W) {
      @if not $SUPPRESS_WARNINGS { @warn $args };
      @return false;
    }
    @debug $args;
  }
  // @debug $LOG_LEVEL $level $args;
  @return true;
}
@function error($args) {
  @return log(0, $args);
}
@function warn($args) {
  @return log(1, $args);
}
@function info($args) {
  @return log(2, $args);
}
@function verbose($args) {
  @return log(3, $args);
}
@function debug($args...) {
  @return verbose($args);
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- SASS Strings --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function strReplace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
@function strEndsWith($string, $find) {
  @return str-slice($string, (str-length($string) - str-length($find) + 1)) == $find;
}
@function strStartsWith($string, $find) {
  @return str-slice($string, 1, str-length($find)) == $find;
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- SASS Lists ----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/// list-remove
/// Remove an item from a list
/// @param $list - A SASS list
/// @param $index - The list index to remove
/// @returns A SASS list
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function listRemove($list, $index) {
  $newList: ();
  $sep: separator($list);
  @for $i from 1 through length($list) {
    @if $i != $index {
      $newList: append($newList, nth($list,$i), $sep);
    }
  }
  @return $newList;
}
@function listFromString($string, $separator: ' ', $startAt: 1) {
  $workStr: str-slice($string,$startAt);
  $list: ();
  $indexOfFirstSpace: str-index($workStr,$separator);
  @if $indexOfFirstSpace == null {
      $list: ($workStr);
  } @else {
      $list: (str-slice($workStr, 1, $indexOfFirstSpace - 1));
      $list: join($list,listFromString($workStr, $startAt: $indexOfFirstSpace + 1));
  }
  @return $list;
}
@function listToString($list, $sep: ',') {
  $retValue: '';
  @each $key in $list {
    $retValue: $retValue + $sep + $key;
  }

  @return str-slice($retValue, str-length($sep) + 1);
  // @if str-length($sep) > 0 {
  //   @return str-slice($retValue, str-length($sep) + 1);
  // }
  // @else {
  //   @return $retValue;
  // }
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// -- SASS Maps -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Deep get function to get keys in nested maps
// ----------
// @param [map] $map: map
// ----------
// @return [list of keys]

@function mapKeys($map, $curPathPrefix: '') {
  $curMap: $map;
  @if $curPathPrefix != '' {
    $curPathPrefix: $curPathPrefix + ' ';
  }
  $retList: [];

  @each $key in map-keys($map) {
    $curPath: unquote($curPathPrefix + $key);
    $retList: append($retList, $curPath);

    $curValue: map-get($map, $key);
    @if is-map($curValue) {
      $retList: join($retList, mapKeys($curValue, $curPath), comma);
    }
  }

  @return $retList;
}

// Deep get function to check if a key exist in nested maps
// ----------
// @param [map] $map: map
// @param [list] $keys: list of keys to reach
// ----------
// @return [boolean]

@function mapHasKey($map, $keys) {
  $curMap: $map;
  $curPath: '';
  @for $i from 1 through length($keys) {
    $mapName: nth($keys, $i);
    $curPath: $curPath $mapName;
    $curMap: map-get($curMap, $mapName);
    @if $curMap == null {  @return false; }
    @if not is-map($curMap) and $i < length($keys) { @return false; }
  }

  @return true;
}

// Deep get function to get a value in nested maps
// ----------
// @param [map] $map: map
// @param [list] $keys: list of keys to reach
// ----------
// @return [value] or [map]

@function mapGet($map, $keys, $defaultValue: false) {
  @if length($keys) == 1 {
    @if not mapHasKey($map, $keys) { $call:warn("Key `#{$keys}` doesn't exist at current level in map."); @return $defaultValue; }
    @return map-get($map, $keys);
  }

  $curMap: $map;
  $curPath: '';
  @for $i from 1 through length($keys) - 1 {
    $mapName: nth($keys, $i);
    $curPath: $curPath $mapName;
    $curMap: map-get($curMap, $mapName);
    @if $curMap == null { $call:warn("Key `#{$mapName}` doesn't exist at current level in map `#{$keys}`."); @return $defaultValue; }
    @if not is-map($curMap) { $call:warn("Key `#{$mapName}` is not a map `#{$keys}`."); @return $defaultValue; }
  }

  $propName: nth($keys, length($keys));
  @if not mapHasKey($curMap, $propName) { $call:warn("Key `#{$propName}` doesn't exist at current level in map `#{$keys}`."); @return $defaultValue; }
  @return map-get($curMap, $propName);
}

// Deep set function to set a value in nested maps
// ----------
// @param [map] $map: map
// @param [list] $keys: list of keys to reach
// @param [literal] $value: value to assign
// ----------
// @return [map]

@function mapSet($map, $keys, $value) {
  $maps: ($map,);
  $result: null;

  // If the last key is a map already
  // Warn the user we will be overriding it with $value
  @if type-of(nth($keys, -1)) == map {
    $call:warn("The last key you specified is a map; it will be overrided with `#{$value}`.");
  }

  // If $keys is a single key
  // Just merge and return
  @if length($keys) == 1 {
    @return map-merge($map, ($keys: $value));
  }

  // Loop from the first to the second to last key from $keys
  // Store the associated map to this key in the $maps list
  // If the key doesn't exist, throw an error
  @for $i from 1 through length($keys) - 1 {
    $current-key: nth($keys, $i);
    $current-map: nth($maps, -1);
    $current-get: map-get($current-map, $current-key);
    @if $current-get == null {
      $call:warn("Key `#{$current-key}` doesn't exist at current level in map.");
      @return false;
    }
    $maps: append($maps, $current-get);
  }

  // Loop from the last map to the first one
  // Merge it with the previous one
  @for $i from length($maps) through 1 {
    $current-map: nth($maps, $i);
    $current-key: nth($keys, $i);
    $current-val: if($i == length($maps), $value, $result);
    $result: map-merge($current-map, ($current-key: $current-val));
  }

  // Return result
  @return $result;
}
