
::ng-deep .ss {
    margin-left: 40px;
    margin-top: -20px;
}

.forms{
    padding-right: 0px;
    margin-left: 10px;
}
  

#div1{
    display: none;
    z-index: 1;
    position: fixed;
    left:0.1%;
}

#div2{
    display: none;
    display: none;
    z-index: 1;
    position: fixed;
    left:0.1%;
}

#div3{
    display: none;
    display: none;
    z-index: 1;
    position: fixed;
    left:0.1%;
}


@media (max-width: 450px) {
    div.icons {display:none}
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



// /*  New Angular Side bar   */


// /*  Tool bar   */


// ::ng-deep.theme--default .mat-drawer[color=primary] {
//     background: #FFF !important;
//     color: white;
// }

// .sidebar-toolbar{
//     background: #dcdcdc;
//     background: linear-gradient(180deg,  rgb(255,255,255) 46%, rgb(196,195,208) 150%);
// }

// .btn-sidebar-toolbar{
//     color:#FFFFFF;
//     outline-style: none;
// }


// /*  End Tool bar   */

// /*  Sidenav Container  */


// .sidenav-container{
//     background: linear-gradient(180deg, rgb(255,255,255) 46%, rgb(196,195,208) 100%);
//     height: 79.3vh; 
//     margin: 0;
// }

// /* end sidenav container */


// /*  Sidenav  */


// .sidenav{
//     background: #F6F6f6;
//     width: 200px;
// }

// .sidenav .mat-list-item{
//     font-family: 'Poppins';
//     font-size: 12px;
//     font-weight: 600;
// }

// .sidenav .hrms{
//     font-size: 13px;
//     font-weight: 700;
//     color:#FFFFFF;
//     margin-top: -5px;
// }

// .sidenav .hrms:hover{
//     background-color:#bfc1c2;
//     color: #23252e;
//     font-weight: 600;
// }


// /*  End Sidenav  */


// .mat-expansion-panel {
//   margin-bottom:  0;
//   }

  
// ::ng-deep.mat-expansion-panel-body{
//   padding: 0 24px 0;
//   }


// /*  Panel */


// .panel{
//      width: 225px;
//      margin-left: -25px;
//      text-align: left;
// }


// .panel .mat-list-item{
//     color: #23252e; 
//     font-family: 'Poppins'; 
//     font-size: 13px;
//     font-weight: 600; 
//     text-align: left;
// }

// .panel .mat-list-item:hover{
//  color:#23252e;
//  font-weight: 600;
// }

// .panel1 .mat-list-item{
//     color: #ffffff; 
//     font-family: 'Poppins'; 
//     font-size: 12px; 
//     font-weight: 500; 
//     text-align:left; 
// }

// .panel1 .mat-list-item:hover{
//    background-color: #979aaa;
// }

// .menu-panel{
//     // background: linear-gradient(180deg, rgb(255,255,255) 46%, rgb(196,195,208) 100%);
//     color:#23252e;
//     text-align: left;
// }

// .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
//      background: #979aaa; 
//      background: linear-gradient(180deg, rgb(255,255,255) 46%, rgb(151,154,170) 100%);
// }


// .menu-panel2{
//    // background: #979aaa;
//    background: linear-gradient(180deg, rgba(220,220,220,1) 46%, rgba(196,195,208,1) 100%);
//     width: 225px;
//     margin-left: -30px;
//     text-align: left;
// }

// .menu-panel2 a{
//     color: #23252e;
//     font-family: 'Poppins';
//     font-size: 12px;
//     margin-left: -15px;
//     width:100px;    
//     font-weight: 700;
//     text-align: left;
// }

//  .menu-panel2 .mat-expansion-panel-header{
//     width: 205px;     
// } 

// .menu-panel2:hover {
//     background: linear-gradient(180deg, rgba(220,220,220,1) 46%, rgba(140,146,172,1) 100%);
// }



// /*  End Panel */


// /*  nav-list */


// .nav-list{
//     width: 225px;
//      margin-left: -25px;
//      text-align: left;
//      font-size: 12px;
//      font-weight: 600;
// }

// .nav-list a{
//     color:#23252e;
//     //background-color: #c0c0c0;  
//     background: linear-gradient(180deg, rgba(220,220,220,1) 46%, rgba(192,192,192,1) 100%);
//     font-family: 'Poppins'; 
//     font-weight: 600;
//     float:left; 
// }

// .nav-list .mat-list-item{
//     font-weight: 600;
// }

// .nav-list a:hover{
//     color:#FFFFFF;
//     background: linear-gradient(180deg, rgba(137,139,139,1) 46%, rgba(220,220,220,1) 150%);
//     //background-color: rgba(53, 56, 57, 0.75);
// }


// .nav-list-report a{
//     color:#FFFFFF;
//     //background-color: rgba(85, 85, 85, 0.75);
//     background: linear-gradient(180deg, rgba(120,124,125,1) 46%, rgba(220,220,220,1) 150%);
//     font-family: 'Poppins'; 
//     width: 230px;
//     margin-left: -20px;
//     font-weight: 500;
//     float: left;
//     text-align: left;
// }

// /*  End nav-list */

// @media only screen and (max-width: 600px) {
    
    
//   }